<template>
  <div class="bg-[#24243E] pt-[50px] md:pt-[230px] pb-[54px]">
    <div class="container mx-auto">
      <div class="lg:flex justify-between items-center">
        <div
          class="space-x-2 text-[11px] md:text-[22px] lg:text-[15px] text-white flex"
        >
          <a href="#" class="">Powerd by</a>
          <a href="#" class="mt-[2px] lg:mt-[5px] md:mt-[10px]">
            <svg
              width="133"
              height="15"
              viewBox="0 0 133 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M132.835 2.21533H0.654541V7.99995H132.835V2.21533Z"
                fill="#FFF337"
              />
              <path
                d="M11.9547 8.86148H8.58869V11.6923H12.0842C13.3788 11.6923 14.1555 11.1999 14.1555 10.2153C14.1555 9.47687 13.5082 8.86148 11.9547 8.86148ZM13.3788 5.0461C13.3788 4.18456 12.7315 3.69225 11.4368 3.69225H8.58869V6.39994H11.3074C12.602 6.52302 13.3788 6.15379 13.3788 5.0461ZM5.74054 1.23071H11.9547C13.5082 1.23071 14.6734 1.59994 15.4502 2.33841C16.0975 2.95379 16.3564 3.69225 16.3564 4.55379C16.3564 6.03071 15.5796 6.89225 14.6734 7.38456C16.0975 7.99994 17.0037 8.98456 17.0037 10.7076C17.0037 13.0461 15.0618 14.2769 12.0842 14.2769H5.74054V1.23071Z"
                fill="white"
              />
              <path
                d="M11.9547 8.86148H8.58869V11.6923H12.0842C13.3788 11.6923 14.1555 11.1999 14.1555 10.2153C14.1555 9.47687 13.5082 8.86148 11.9547 8.86148ZM13.3788 5.0461C13.3788 4.18456 12.7315 3.69225 11.4368 3.69225H8.58869V6.39994H11.3074C12.602 6.52302 13.3788 6.15379 13.3788 5.0461ZM5.74054 1.23071H11.9547C13.5082 1.23071 14.6734 1.59994 15.4502 2.33841C16.0975 2.95379 16.3564 3.69225 16.3564 4.55379C16.3564 6.03071 15.5796 6.89225 14.6734 7.38456C16.0975 7.99994 17.0037 8.98456 17.0037 10.7076C17.0037 13.0461 15.0618 14.2769 12.0842 14.2769H5.74054V1.23071V1.23071Z"
                stroke="white"
                stroke-width="0.65"
              />
              <path
                d="M29.9499 7.63071C31.3739 7.63071 32.1507 6.89225 32.1507 5.78456C32.1507 4.55379 31.2445 3.93841 29.8204 3.93841H26.9722V7.75379H29.9499V7.63071ZM24.1241 1.23071H30.2088C31.8918 1.23071 33.1864 1.72302 34.0926 2.58456C34.7399 3.32302 35.1283 4.30764 35.1283 5.5384C35.1283 7.63071 33.9632 8.98456 32.2802 9.59994L35.5167 14.2769H32.1507L29.3026 10.0923H26.9722V14.2769H23.9946V1.23071H24.1241Z"
                fill="white"
              />
              <path
                d="M29.9499 7.63071C31.3739 7.63071 32.1507 6.89225 32.1507 5.78456C32.1507 4.55379 31.2445 3.93841 29.8204 3.93841H26.9722V7.75379H29.9499V7.63071ZM24.1241 1.23071H30.2088C31.8918 1.23071 33.1864 1.72302 34.0926 2.58456C34.7399 3.32302 35.1283 4.30764 35.1283 5.5384C35.1283 7.63071 33.9632 8.98456 32.2802 9.59994L35.5167 14.2769H32.1507L29.3026 10.0923H26.9722V14.2769H23.9946V1.23071H24.1241Z"
                stroke="white"
                stroke-width="0.65"
              />
              <path
                d="M44.4495 8.7384V1.23071H47.4271V8.61533C47.4271 10.7076 48.4628 11.8153 50.2753 11.8153C52.0878 11.8153 53.1235 10.7076 53.1235 8.61533V1.23071H56.1011V8.61533C56.1011 12.5538 53.9002 14.523 50.2753 14.523C46.6504 14.523 44.4495 12.5538 44.4495 8.7384Z"
                fill="white"
              />
              <path
                d="M44.4495 8.7384V1.23071H47.4271V8.61533C47.4271 10.7076 48.4628 11.8153 50.2753 11.8153C52.0878 11.8153 53.1235 10.7076 53.1235 8.61533V1.23071H56.1011V8.61533C56.1011 12.5538 53.9002 14.523 50.2753 14.523C46.6504 14.523 44.4495 12.5538 44.4495 8.7384Z"
                stroke="white"
                stroke-width="0.65"
              />
              <path
                d="M63.7394 7.99994C63.7394 4.18456 66.5875 1.23071 70.6008 1.23071C73.0606 1.23071 74.6141 2.09225 75.7793 3.19994L73.9668 5.29225C72.9311 4.43071 71.8955 3.81533 70.6008 3.81533C68.4 3.81533 66.717 5.66148 66.717 7.87687C66.717 10.0923 68.2705 11.9384 70.6008 11.9384C72.1544 11.9384 73.0606 11.323 74.0963 10.4615L75.9088 12.3076C74.4847 13.7846 73.0606 14.6461 70.4714 14.6461C66.717 14.7692 63.7394 11.8153 63.7394 7.99994Z"
                fill="white"
              />
              <path
                d="M63.7394 7.99994C63.7394 4.18456 66.5875 1.23071 70.6008 1.23071C73.0606 1.23071 74.6141 2.09225 75.7793 3.19994L73.9668 5.29225C72.9311 4.43071 71.8955 3.81533 70.6008 3.81533C68.4 3.81533 66.717 5.66148 66.717 7.87687C66.717 10.0923 68.2705 11.9384 70.6008 11.9384C72.1544 11.9384 73.0606 11.323 74.0963 10.4615L75.9088 12.3076C74.4847 13.7846 73.0606 14.6461 70.4714 14.6461C66.717 14.7692 63.7394 11.8153 63.7394 7.99994Z"
                stroke="white"
                stroke-width="0.65"
              />
              <path
                d="M84.0648 14.2769H87.0424V1.23071H84.0648V14.2769Z"
                fill="white"
              />
              <path
                d="M84.0648 14.2769H87.0424V1.23071H84.0648V14.2769Z"
                stroke="white"
                stroke-width="0.65"
              />
              <path
                d="M101.154 7.63071C102.578 7.63071 103.355 6.89225 103.355 5.78456C103.355 4.55379 102.448 3.93841 101.024 3.93841H98.1761V7.75379H101.154V7.63071ZM95.3279 1.23071H101.413C103.096 1.23071 104.39 1.72302 105.296 2.58456C106.073 3.32302 106.462 4.30764 106.462 5.5384C106.462 7.63071 105.296 8.98456 103.613 9.59994L106.85 14.2769H103.484L100.636 10.0923H98.3056V14.2769H95.3279V1.23071Z"
                fill="white"
              />
              <path
                d="M101.154 7.63071C102.578 7.63071 103.355 6.89225 103.355 5.78456C103.355 4.55379 102.448 3.93841 101.024 3.93841H98.1761V7.75379H101.154V7.63071ZM95.3279 1.23071H101.413C103.096 1.23071 104.39 1.72302 105.296 2.58456C106.073 3.32302 106.462 4.30764 106.462 5.5384C106.462 7.63071 105.296 8.98456 103.613 9.59994L106.85 14.2769H103.484L100.636 10.0923H98.3056V14.2769H95.3279V1.23071Z"
                stroke="white"
                stroke-width="0.65"
              />
              <path
                d="M123.421 8.98456L121.609 4.79994L119.796 8.98456H123.421ZM120.314 1.23071H123.033L128.729 14.3999H125.622L124.457 11.4461H118.89L117.725 14.3999H114.747L120.314 1.23071Z"
                fill="white"
              />
              <path
                d="M123.421 8.98456L121.609 4.79994L119.796 8.98456H123.421ZM120.314 1.23071H123.033L128.729 14.3999H125.622L124.457 11.4461H118.89L117.725 14.3999H114.747L120.314 1.23071Z"
                stroke="white"
                stroke-width="0.65"
              />
            </svg>
          </a>
          <a href="#">support@brutask.com</a>
        </div>
        <div class="text-[22px] lg:space-x-6 lg:flex items-center text-white">
          <p>Privacy Policy</p>
          <p class="">Terms</p>
          <p>Media Kit</p>
          <p class="">Media Kit</p>
          <p class="hidden lg:block">
            <svg
              width="43"
              height="57"
              viewBox="0 0 43 57"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M33.5689 20.3572H2.71237C1.21437 20.3572 0 21.5703 0 23.0668V54.2904C0 55.7869 1.21437 57 2.71237 57H33.5689C35.0669 57 36.2812 55.7869 36.2812 54.2904V23.0668C36.2812 21.5703 35.0669 20.3572 33.5689 20.3572Z"
                fill="white"
              />
              <path
                d="M40.2876 13.5715H9.43112C7.93312 13.5715 6.71875 14.7847 6.71875 16.2812V47.5048C6.71875 49.0012 7.93312 50.2144 9.43112 50.2144H40.2876C41.7856 50.2144 43 49.0012 43 47.5048V16.2812C43 14.7847 41.7856 13.5715 40.2876 13.5715Z"
                fill="#52459F"
              />
              <path
                d="M24.8594 6.10718V19.6786"
                stroke="white"
                stroke-width="3.28008"
                stroke-linecap="round"
              />
              <path
                d="M24.8594 9.5C27.4568 9.5 29.5625 7.37335 29.5625 4.75C29.5625 2.12665 27.4568 0 24.8594 0C22.2619 0 20.1562 2.12665 20.1562 4.75C20.1562 7.37335 22.2619 9.5 24.8594 9.5Z"
                fill="#52459F"
              />
            </svg>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
