<template>
  <div class="header bg-[#1B1C31]">
    <div class="container pt-10 md:pt-20">
      <div class="flex justify-between items-center block">
        <MainLogo />
        <div class="flex items-center">
          <span class="text-[#FFFFFF] font-xl mr-[56px] hidden lg:flex"
            >Blog</span
          >
          <button
            class="border-2 transition ease-in-out delay-150 flex items-center justify-center border-[#52459F] rounded-xl w-[100px] h-[45px] lg:w-[158px] lg:h-[59px] button-1"
          >
            <p class="text-[#FFFFFF] text-xl">Login</p>
          </button>
        </div>
      </div>
    </div>
    <NMain />
  </div>
</template>
<script>
import MainLogo from '~/components/logo/MainLogo'
import NMain from '~/components/layout/NMain'
export default {
  components: { NMain, MainLogo },
}
</script>
<style>
.button-1:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}
</style>
