<template>
  <div
    class="bg-[#1B1C31] pt-[120px] md:pt-[184px] flex flex-col md:flex-row justify-between"
  >
    <div
      class="text-white md:w-1/2 text-center w-full text-center lg:text-left"
    >
      <div class="md:ml-[65px] mx-auto px-[20px] md:px-0">
        <h1 class="text-[40px] md:text-[50px] lg:text-[70px] leading-tight">
          Task -<br class="hidden md:block" />manager for
          <br class="hidden md:block" />small teams.
        </h1>
        <span class="text-[16px] lg:text-[24px]"
          >Brutask is a simple to-do list for small <br />
          companies or teams.</span
        >
        <div
          class="lg:block flex items-center justify-center py-[15px] md:py-[25px] lg:py-[40px]"
        >
          <button class="btn10 w-[200px] h-[50px] md:h-[65px] md:w-[220px]">
            <h2 class="text-[12px] md:text-[15px] lg:text-[15px] ml-2 mr-2">
              Get started for free
            </h2>

            <svg
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.172 7.50005L6.808 2.13605L8.222 0.722046L16 8.50005L8.222 16.278L6.808 14.864L12.172 9.50005H0V7.50005H12.172Z"
                fill="#1B1C31"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hidden w-1/2 relative z-10 md:block">
      <img
        class="float-right w-full absloute z-0 mb-[70px] md:mb-[-45px] lg:mb-[-65px]"
        src="~/assets/img/img.png"
        alt=""
      />
    </div>
  </div>
</template>
<script>
export default {}
</script>
