<template>
  <div class="bg-[#24243E]">
    <div class="container mx auto pt-[200px]">
      <div
        class="flex justify-between lg:py-[100px] py-[50px] items-center rounded-3xl bg-[#1B1C31]"
      >
        <div
          class="container mx-auto lg:flex block items-center justify-around"
        >
          <div class="flex items-center justify-center">
            <div>
              <svg
                class="w-[215px] h-[215px] hidden xl:block"
                viewBox="0 0 215 215"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <mask
                  id="mask0_419_218"
                  style="mask-type: alpha"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="215"
                  height="215"
                >
                  <circle cx="107.5" cy="107.5" r="107.5" fill="#C4C4C4" />
                </mask>
                <g mask="url(#mask0_419_218)">
                  <circle cx="107.5" cy="107.5" r="107.5" fill="#85EAF6" />
                  <path
                    d="M179.286 368.948C109.455 403.249 66.144 427.903 49.3539 442.912L44.2904 445.431C18.7417 411.452 8.40668 365.442 13.2853 307.4C1.08156 304.414 -9.38396 301.357 -14.1653 299.118C-23.7282 294.641 -26.3172 284.845 -21.9321 269.729C-18.259 255.205 -10.8282 238.363 0.360294 219.205C13.6582 196.435 32.4183 195.772 44.5264 197.291C55.1018 189.416 106.65 188.521 116.321 190.482C131.536 193.68 154.097 198.16 166.46 216.511C170.43 222.231 172.275 227.792 173.236 231.767C173.236 231.767 175.082 237.328 176.393 243.387C179.407 257.242 185.381 305.731 179.286 368.948Z"
                    fill="#FFCB3D"
                  />
                  <path
                    d="M330.324 186.631L202.865 301.395C199.975 303.997 199.742 308.448 202.344 311.337C204.945 314.227 209.396 314.46 212.286 311.858L339.745 197.094C342.634 194.492 342.867 190.041 340.266 187.152C337.664 184.262 333.213 184.029 330.324 186.631Z"
                    fill="#474961"
                  />
                  <path
                    d="M285.765 224.767L209.685 175.658C204.957 172.606 198.792 173 194.491 176.628L120.005 239.455C114.601 244.012 113.916 252.087 118.473 257.491C119.237 258.396 120.122 259.191 121.104 259.853L206.391 317.328L287.347 245.07C292.62 240.363 293.08 232.271 288.372 226.998C287.607 226.141 286.73 225.39 285.765 224.767Z"
                    fill="#474BFF"
                  />
                  <path
                    d="M75.6983 143.728C71.8705 138.77 68.441 134.108 66.6199 130.272C63.9198 124.687 65.3263 108.404 70.4317 101.908C75.5371 95.4116 116.02 65.3653 116.531 65.3296C120.845 64.643 145.152 61.7885 158.933 79.0445C160.189 80.4964 161.327 82.0848 162.364 84.0652C164.609 88.6556 165.86 93.7004 165.834 98.8345L165.636 121.687C165.541 124.003 165.319 126.328 164.96 128.535C162.382 144.882 157.301 158.453 151.497 167.199C147.21 173.785 142.353 177.718 137.893 178.158C136.625 178.375 129.721 178.729 121.507 176.866C120.972 176.728 121.113 176.842 117.771 175.658L118.454 190.717C129.536 193.035 143.882 196.233 155.424 204.646C138.947 213.413 120.7 217.357 100.682 216.481C92.0722 216.103 82.9936 214.948 73.4467 213.016C66.3611 204.629 57.7275 199.69 52.9079 198.893C50.7112 198.53 47.7331 197.926 44.2452 197.527C44.3059 197.475 44.3668 197.423 44.4279 197.371C48.6387 193.903 60.7418 191.75 73.9526 190.578L74.7755 143.438L75.6983 143.728ZM183.664 327.164C183.96 327.163 184.257 327.145 184.552 327.112C184.266 327.125 183.981 327.124 183.695 327.108C183.685 327.127 183.674 327.146 183.664 327.164ZM200.785 313.174L206.214 316.787L211.257 312.3C211.422 312.176 211.584 312.043 211.741 311.901L214.755 309.187L286.765 245.112C287.767 244.22 288.596 243.206 289.249 242.113L311.025 222.506C320.886 217.631 328.536 215.706 331.091 219.297C331.091 219.297 292.915 260.695 272.754 282.423C267.479 296.25 259.661 313.933 249.299 335.471C223.487 347.539 200.079 358.733 179.074 369.052C180.426 355.562 181.221 342.733 181.606 330.758C156.53 373.714 117.767 410.014 65.32 439.659C-1.75197 477.569 -12.6847 348.317 -14.4252 298.418C-14.1785 298.541 -13.9267 298.659 -13.67 298.774C0.0849142 304.932 63.8726 319.126 75.6918 317.206C76.0317 317.165 76.3596 317.086 76.6756 316.969L74.6662 347.978L149.083 295.12C149.098 295.101 149.113 295.081 149.129 295.061L186.166 247.656C188.994 244.035 194.223 243.393 197.844 246.222C198.978 247.109 199.82 248.231 200.355 249.465L201.426 247.877C203.995 244.067 209.166 243.062 212.976 245.632C215.487 247.326 216.78 250.151 216.632 252.971C218.63 252.78 220.702 253.306 222.431 254.609L222.454 254.626C225.966 257.272 226.667 262.264 224.021 265.776C223.951 265.869 223.878 265.961 223.804 266.051L223.259 266.711C225.877 266.089 228.748 266.747 230.863 268.72C234.224 271.854 234.408 277.118 231.274 280.479L200.785 313.174ZM473.022 579.338C495.49 588.574 529.153 601.749 548.078 607.343L541.99 638.634L470.031 616.823C470.589 613.017 470.568 609.163 470.475 608.12C469.667 602.045 469.096 593.913 468.674 584.169C468.606 582.253 468.53 580.254 468.447 578.171L473.022 579.338ZM343.829 634.899C354.386 635.056 368.25 633.9 386.57 633.39C399.647 633.026 413.322 633.339 425.706 633.19L440.721 661.203L439.615 664.322L343.916 662.959L343.829 634.899Z"
                    fill="#F2A98A"
                  />
                  <path
                    d="M117.775 175.701L99.9694 169.68L118.378 190.683L117.775 175.701Z"
                    fill="#482D1F"
                  />
                  <path
                    d="M138.09 65.9275C145.241 67.7575 152.756 71.4548 158.465 78.603C159.721 80.0548 160.859 81.6433 161.895 83.6237C162.885 85.6477 163.682 87.76 164.261 89.9293L99.4251 112.54L107.741 68.8652C120.145 67.0583 130.261 66.0791 138.09 65.9275Z"
                    fill="#482D1F"
                  />
                  <path
                    d="M143.107 68.6754C120.404 90.9066 105.947 105.431 99.7352 112.249C99.506 112.58 99.2757 112.923 99.0444 113.276C98.7696 112.116 97.7032 108.344 94.7771 104.702C94.5039 104.464 92.1368 101.807 88.7189 100.635C82.557 98.756 74.8282 101.991 70.8709 107.785C66.6671 113.724 67.1939 121.258 70.0217 126.834C72.8494 132.41 77.7612 134.761 79.4747 135.411L86.3669 136.725L87.0628 136.409C81.9961 147.13 77.3772 156.777 74.4209 157.476C69.0454 158.746 60.7561 147.267 54.9033 141.706C51.184 138.172 42.249 126.61 39.5763 110.507C38.782 105.179 35.8314 87.1124 46.9279 72.8794C50.8001 67.934 55.3996 65.346 57.2895 64.2222C63.721 60.7948 88.4126 58.8351 107.383 57.7973C103.77 52.1988 101.573 40.5965 100.792 22.9905C100.766 22.4114 100.938 21.8407 101.279 21.3719C102.11 20.2283 103.711 19.9752 104.855 20.8065C120.571 32.2321 130.574 40.5331 134.862 45.7094C138.01 40.6987 147.197 34.8616 162.422 28.1983C162.957 27.9642 163.556 27.92 164.12 28.0732C165.484 28.444 166.29 29.8506 165.919 31.2149C159.604 54.4479 154.8 66.653 151.505 67.8304C149.694 68.4775 146.895 68.7591 143.107 68.6754Z"
                    fill="#DE3190"
                  />
                  <path
                    d="M159.42 126.147C159.696 124.588 161.148 123.332 162.698 123.48C163.728 123.537 164.548 124.249 165.056 126.01C165.751 130.452 161.292 136.409 159.7 133.826C158.563 132.238 159.07 128.481 159.42 126.147ZM131.325 124.6C131.601 123.041 133.053 121.785 134.603 121.933C135.633 121.989 136.453 122.702 136.961 124.463C137.656 128.905 133.197 134.862 131.605 132.279C130.468 130.69 130.975 126.934 131.325 124.6Z"
                    fill="#482D1F"
                  />
                  <path
                    d="M149.897 127.805L150.917 140.564C150.921 140.612 150.74 140.82 150.679 140.825C149.981 140.873 149.263 140.877 148.142 140.848C147.924 140.842 147.696 140.835 147.368 140.825C146.955 140.811 146.728 140.804 146.511 140.798C145.769 140.775 145.154 140.76 144.498 140.748C143.791 140.736 143.208 141.3 143.196 142.007C143.184 142.713 143.748 143.296 144.454 143.308C145.098 143.319 145.702 143.334 146.433 143.356C146.648 143.363 146.873 143.37 147.287 143.383C147.619 143.394 147.851 143.401 148.074 143.407C149.271 143.438 150.06 143.434 150.858 143.378C152.329 143.275 153.573 141.844 153.47 140.373L152.449 127.601C152.392 126.896 151.775 126.37 151.071 126.427C150.366 126.483 149.841 127.1 149.897 127.805Z"
                    fill="#482D1F"
                  />
                  <path
                    d="M142.512 150.634C141.591 150.313 139.349 149.444 139.132 148.176C139.114 147.921 138.96 147.546 139.206 147.401C139.8 146.718 141.377 147.249 143.72 147.727C147.877 148.463 151.215 148.486 151.215 148.486C151.215 148.486 150.081 150.618 149.35 151.182C147.925 152.822 143.833 151.183 142.512 150.634Z"
                    fill="#482D1F"
                  />
                  <path
                    d="M111.479 121.152L103.836 119.381C102.803 119.141 102.16 118.11 102.399 117.077C102.638 116.044 103.67 115.4 104.703 115.64L112.921 117.545C115.763 112.185 121.223 108.37 127.72 107.915C137.734 107.215 146.419 114.765 147.119 124.778C147.136 125.018 147.148 125.256 147.155 125.494L151.047 125.698C152.217 117.382 159.065 110.727 167.778 110.118C177.791 109.418 186.477 116.968 187.177 126.981C187.877 136.995 180.327 145.68 170.314 146.38C160.306 147.08 151.626 139.54 150.916 129.536L146.87 129.324C145.414 137.298 138.714 143.586 130.256 144.177C120.242 144.878 111.557 137.328 110.857 127.314C110.708 125.178 110.934 123.103 111.479 121.152ZM115.6 120.913C114.872 122.808 114.537 124.888 114.688 127.046C115.24 134.944 122.09 140.899 129.988 140.347C137.886 139.795 143.841 132.944 143.289 125.046C142.736 117.148 135.886 111.193 127.988 111.746C122.565 112.125 118.059 115.473 115.945 120.091C115.938 120.131 115.931 120.171 115.921 120.211C115.861 120.472 115.749 120.709 115.6 120.913ZM154.71 128.158C154.708 128.519 154.72 128.883 154.745 129.249C155.298 137.147 162.148 143.102 170.046 142.55C177.944 141.997 183.899 135.147 183.346 127.249C182.794 119.351 175.944 113.396 168.046 113.949C160.775 114.457 155.151 120.303 154.734 127.391C154.758 127.528 154.767 127.67 154.759 127.815C154.753 127.932 154.736 128.047 154.71 128.158Z"
                    fill="#482D1F"
                  />
                </g>
              </svg>
            </div>
            <div>
              <p class="text-[36px] px-[20px] text-white">
                Good <br class="hidden xl:block" />
                morning <br class="hidden xl:block" />
                Rica.
              </p>
            </div>
          </div>
          <div class="divider hidden lg:block"></div>
          <div class="">
            <ul class="">
              <li class="flex justify-between">
                <div class="flex">
                  <span
                    ><svg
                      width="21"
                      height="21"
                      viewBox="0 0 21 21"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="10.5" cy="10.5" r="10.5" fill="#85EAF6" />
                    </svg>
                  </span>
                  <p class="text-white ml-[53px]">All tasks</p>
                </div>
                <p class="text-white">70%</p>
              </li>
              <li class="flex justify-between my-[37px]">
                <div class="flex">
                  <span
                    ><svg
                      width="21"
                      height="21"
                      viewBox="0 0 21 21"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M21 10.5C21 8.4233 20.3842 6.39323 19.2304 4.66651C18.0767 2.9398 16.4368 1.59399 14.5182 0.799265C12.5996 0.00454475 10.4884 -0.20339 8.45155 0.201755C6.41475 0.606899 4.54383 1.60693 3.07538 3.07538C1.60693 4.54383 0.606899 6.41475 0.201755 8.45155C-0.20339 10.4884 0.00454478 12.5996 0.799265 14.5182C1.59399 16.4368 2.9398 18.0767 4.66651 19.2304C6.39323 20.3842 8.4233 21 10.5 21V15.0902C9.59214 15.0902 8.70466 14.821 7.9498 14.3166C7.19494 13.8123 6.6066 13.0954 6.25918 12.2566C5.91175 11.4179 5.82085 10.4949 5.99796 9.60449C6.17508 8.71407 6.61226 7.89617 7.25421 7.25421C7.89617 6.61226 8.71407 6.17508 9.60449 5.99796C10.4949 5.82085 11.4179 5.91175 12.2566 6.25918C13.0954 6.6066 13.8123 7.19494 14.3166 7.9498C14.821 8.70466 15.0902 9.59214 15.0902 10.5H21Z"
                        fill="#52459F"
                      />
                    </svg>
                  </span>
                  <p class="text-white ml-[53px]">Meetings</p>
                </div>
                <p class="text-white">92%</p>
              </li>
              <li class="flex justify-between">
                <div class="flex">
                  <span
                    ><svg
                      width="21"
                      height="21"
                      viewBox="0 0 21 21"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M21 10.5C21 8.4233 20.3842 6.39323 19.2304 4.66651C18.0767 2.9398 16.4368 1.59399 14.5182 0.799265C12.5996 0.00454475 10.4884 -0.20339 8.45155 0.201755C6.41475 0.606899 4.54383 1.60693 3.07538 3.07538C1.60693 4.54383 0.606899 6.41475 0.201755 8.45155C-0.20339 10.4884 0.00454478 12.5996 0.799265 14.5182C1.59399 16.4368 2.9398 18.0767 4.66651 19.2304C6.39323 20.3842 8.4233 21 10.5 21V10.5H21Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                  <p class="text-white ml-[53px]">Trips</p>
                </div>
                <p class="text-white">30%</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mt-[150px] md:mt-[280px] flex flex-col justify-center">
        <p class="text-center text-[50px] md:text-[70px] text-white">
          Brutask isn’t a <br />
          tool, it’s a
          <span class="text-[#85EAF6]">Habit.</span>
        </p>
        <p class="text-center text-[24px] text-white">
          The experience is pretty much like writing your daily <br />
          tasks on a sticky note!
        </p>
        <div class="flex justify-center mt-[85px]">
          <button class="btn10 w-[200px] h-[50px] md:h-[65px] md:w-[220px]">
            <p class="text-[12px] md:text-[15px] lg:text-[15px] ml-2 mr-2">
              Check out our blog now!
            </p>
          </button>
        </div>
      </div>

      <div class="mt-150px mdLmt-[280px] mb-[85px]">
        <div>
          <p class="text-center text-[50px] md:text-[70px] text-white">
            Brutask is not <br />
            <span class="text-[#85EAF6]">Trello.</span>
          </p>
          <p class="text-center text-[24px] text-white">
            Brutask is efficient <br />
            in its simplicity — daily tasks & supervision.
          </p>
        </div>
      </div>

      <div>
        <div class="lg:flex block gap-3 justify-center">
          <div v-for="(item, i) in 3" :key="i">
            <div
              class="bg-[#1B1C31] my-[15px] gap-5 border-2 border-[#1B1C31] flex flex-col justify-around items-center rounded-xl px-4 py-6 rounded-lg transform transition duration-500 md:hover:scale-110"
            >
              <svg
                width="105"
                height="121"
                viewBox="0 0 105 121"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 7.04812C1 3.7081 3.71017 1 7.04839 1H71.3579L97 26.363V107.871C97 111.213 94.2973 113.921 90.9521 113.921H7.04792C3.7085 113.921 1 111.206 1 107.873V7.04812Z"
                  stroke="white"
                  stroke-width="2"
                />
                <path
                  d="M71.7689 0.000183105L98 25.9458L73.2326 30.3653C69.4006 31.0491 66.8341 28.4867 67.4973 24.6582L71.7689 0.000183105Z"
                  fill="white"
                />
                <rect x="20" y="49" width="58" height="2" fill="#C4C4C4" />
                <rect x="20" y="62" width="58" height="2" fill="#C4C4C4" />
                <rect x="20" y="75" width="47" height="2" fill="#C4C4C4" />
                <circle cx="94" cy="110" r="11" fill="#85EAF6" />
                <g clip-path="url(#clip0_432_3)">
                  <path
                    d="M93.3791 109.379V105.653H94.621V109.379H98.3468V110.621H94.621V114.347H93.3791V110.621H89.6533V109.379H93.3791Z"
                    fill="#1B1C31"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_432_3">
                    <rect
                      width="14.9032"
                      height="14.9032"
                      fill="white"
                      transform="translate(86.5484 102.548)"
                    />
                  </clipPath>
                </defs>
              </svg>
              <p class="text-[25px] md:text-[28px] lg:text-[30px] text-white">
                Add Tasks
              </p>
              <p class="text-[18px] text-white">
                Add & update your daily tasks.
              </p>
            </div>
          </div>
        </div>
        <div class="flex pt-[50px] justify-center">
          <button class="btn10 w-[200px] h-[50px] md:h-[65px] md:w-[220px]">
            <h2 class="text-[12px] md:text-[15px] lg:text-[15px] ml-2 mr-2">
              Get started for free
            </h2>

            <svg
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.172 7.50005L6.808 2.13605L8.222 0.722046L16 8.50005L8.222 16.278L6.808 14.864L12.172 9.50005H0V7.50005H12.172Z"
                fill="#1B1C31"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="mt-[150px] md:mt-[280px]">
        <h3
          class="text-[50px] md:text-[50px] lg:text-[70px] text-white leading-tight text-center w-full lg:w-[80%] mx-auto"
        >
          Add members, assign <br />
          managers, and supervise your team.
        </h3>
      </div>

      <div
        class="mt-[150px] md:mt-[201px] w-full border-2 border-[#fff] rounded-xl px-[55px] py-[55px]"
      >
        <div class="flex justify-between">
          <div class="flex">
            <svg
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="10.5279"
                cy="10.5277"
                r="10.5"
                transform="rotate(90.1522 10.5279 10.5277)"
                fill="#85EAF6"
              />
            </svg>
            <svg
              class="mx-[39px]"
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="10.5279"
                cy="10.5277"
                r="10.5"
                transform="rotate(90.1522 10.5279 10.5277)"
                fill="#85EAF6"
              />
            </svg>
            <svg
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="10.5279"
                cy="10.5277"
                r="10.5"
                transform="rotate(90.1522 10.5279 10.5277)"
                fill="#85EAF6"
              />
            </svg>
          </div>
          <div class="relative">
            <svg
              class=""
              width="55"
              height="55"
              viewBox="0 0 55 55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="27.5" cy="27.5" r="27.5" fill="#85EAF6" />
            </svg>
            <svg
              class="absolute left-[10px] top-[10px]"
              width="35"
              height="35"
              viewBox="0 0 35 35"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.0416 16.0416V7.29163H18.9583V16.0416H27.7083V18.9583H18.9583V27.7083H16.0416V18.9583H7.29163V16.0416H16.0416Z"
                fill="#1B1C31"
              />
            </svg>
          </div>
        </div>

        <div
          class="mt-[128px] grid lg:grid-cols-2 md:grid-cols-1 justify-items-center gap-4"
        >
          <div class="relative">
            <div
              class="flex items-center lg:w-[386px] sm:w-[250px] h-[69px] bg-[#1B1C31] justify-between rounded-full"
            >
              <div class="flex">
                <div class="flex overflow-hidden ml-3 items-center">
                  <img
                    class="inline-block h-12 w-12 rounded-full ring-white"
                    src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE="
                    alt="not found"
                  />
                </div>
                <div class="text-white ml-[23px]">
                  <p>Wilson Dias</p>
                  <p>Admin</p>
                </div>
              </div>

              <div class="mr-[23px]" @click="openClickOne">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 3C10.9 3 10 3.9 10 5C10 6.1 10.9 7 12 7C13.1 7 14 6.1 14 5C14 3.9 13.1 3 12 3ZM12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div
              class="absolute right-[35px] w-8/12 rounded-2xl p-4 top-[50px] h-[100px] bg-white z-10"
              :class="openModalOne ? openModalOne : 'hidden'"
            >
              <p>Wilson Disa 1</p>
            </div>
          </div>

          <div class="relative">
            <div
              class="flex items-center lg:w-[386px] sm:w-[250px] h-[69px] bg-[#1B1C31] justify-between rounded-full"
            >
              <div class="flex">
                <div class="flex overflow-hidden ml-3 items-center">
                  <img
                    class="inline-block h-12 w-12 rounded-full ring-white"
                    src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE="
                    alt="not found"
                  />
                </div>
                <div class="text-white ml-[23px]">
                  <p>Wilson Dias</p>
                  <p>Admin</p>
                </div>
              </div>

              <div class="mr-[23px]" @click="openClickTwo">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 3C10.9 3 10 3.9 10 5C10 6.1 10.9 7 12 7C13.1 7 14 6.1 14 5C14 3.9 13.1 3 12 3ZM12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div
              class="absolute right-[35px] p-4 w-8/12 rounded-2xl top-[50px] h-[100px] bg-white z-10"
              :class="openModalTwo ? openModalTwo : 'hidden'"
            >
              <p>Wilson Disa 2</p>
            </div>
          </div>

          <div class="relative">
            <div
              class="flex items-center lg:w-[386px] sm:w-[250px] h-[69px] bg-[#1B1C31] justify-between rounded-full"
            >
              <div class="flex">
                <div class="flex overflow-hidden ml-3 items-center">
                  <img
                    class="inline-block h-12 w-12 rounded-full ring-white"
                    src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE="
                    alt="not found"
                  />
                </div>
                <div class="text-white ml-[23px]">
                  <p>Wilson Dias</p>
                  <p>Admin</p>
                </div>
              </div>

              <div class="mr-[23px]" @click="openClickTree">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 3C10.9 3 10 3.9 10 5C10 6.1 10.9 7 12 7C13.1 7 14 6.1 14 5C14 3.9 13.1 3 12 3ZM12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div
              class="absolute right-[35px] w-8/12 p-4 rounded-2xl top-[50px] h-[100px] bg-white z-10"
              :class="openModalTree ? openModalTree : 'hidden'"
            >
              <p>Wilson Disa 3</p>
            </div>
          </div>

          <div class="relative">
            <div
              class="flex items-center lg:w-[386px] sm:w-[250px] h-[69px] bg-[#1B1C31] justify-between rounded-full"
            >
              <div class="flex">
                <div class="flex overflow-hidden ml-3 items-center">
                  <img
                    class="inline-block h-12 w-12 rounded-full ring-white"
                    src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE="
                    alt="not found"
                  />
                </div>
                <div class="text-white ml-[23px]">
                  <p>Wilson Dias</p>
                  <p>Admin</p>
                </div>
              </div>

              <div class="mr-[23px]" @click="openClickFour">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 3C10.9 3 10 3.9 10 5C10 6.1 10.9 7 12 7C13.1 7 14 6.1 14 5C14 3.9 13.1 3 12 3ZM12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div
              class="absolute right-[35px] w-8/12 rounded-2xl p-4 top-[50px] h-[100px] bg-white z-10"
              :class="openModalFour ? openModalFour : 'hidden'"
            >
              <p>Wilson Disa 4</p>
            </div>
          </div>
        </div>

        <div class="mt-[100px]">
          <button
            class="rounded-full border-2 border-[#fff] w-[94px] h-[32px] text-[#85EAF6]"
          >
            Tasks
          </button>
        </div>
      </div>

      <div class="mt-[150px] md:mt-[280px] relative">
        <div class="absolute top-[200px] left-[100px] hidden lg:block">
          <svg
            width="118"
            height="118"
            viewBox="0 0 118 118"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M118 59C118 48.852 115.383 38.8756 110.401 30.0347C105.419 21.1939 98.2404 13.7875 89.5598 8.5312C80.8792 3.27493 70.9895 0.346507 60.8465 0.0289029C50.7035 -0.288701 40.6501 2.01525 31.6576 6.71813C22.6652 11.421 15.0377 18.3638 9.51236 26.8757C3.98699 35.3875 0.750481 45.1806 0.115583 55.3087C-0.519314 65.4368 1.46886 75.5575 5.888 84.6927C10.3071 93.8279 17.0078 101.669 25.3426 107.458L39.2738 87.4007C34.3889 84.0078 30.4617 79.4122 27.8717 74.0582C25.2817 68.7041 24.1164 62.7725 24.4885 56.8366C24.8606 50.9006 26.7575 45.161 29.9959 40.1723C33.2342 35.1836 37.7046 31.1145 42.975 28.3582C48.2453 25.6019 54.1375 24.2516 60.0822 24.4377C66.0269 24.6239 71.8231 26.3402 76.9107 29.4208C81.9983 32.5015 86.2053 36.8423 89.1252 42.0238C92.0451 47.2053 93.5792 53.0524 93.5792 59H118Z"
              fill="#52459F"
            />
          </svg>
        </div>
        <div
          class="absolute top-[340px] lg:right-[-80px] right-0 hidden lg:block"
        >
          <svg
            width="263"
            height="250"
            viewBox="0 0 263 250"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="92" cy="5" r="5" fill="#85EAF6" />
            <circle cx="92" cy="23" r="5" fill="#85EAF6" />
            <circle cx="92" cy="41" r="5" fill="#85EAF6" />
            <circle cx="92" cy="59" r="5" fill="#85EAF6" />
            <circle cx="74" cy="5" r="5" fill="#85EAF6" />
            <circle cx="74" cy="23" r="5" fill="#85EAF6" />
            <circle cx="74" cy="41" r="5" fill="#85EAF6" />
            <circle cx="74" cy="59" r="5" fill="#85EAF6" />
            <circle cx="56" cy="5" r="5" fill="#85EAF6" />
            <circle cx="56" cy="23" r="5" fill="#85EAF6" />
            <circle cx="56" cy="41" r="5" fill="#85EAF6" />
            <circle cx="56" cy="59" r="5" fill="#85EAF6" />
            <circle cx="41" cy="23" r="5" fill="#85EAF6" />
            <circle cx="41" cy="41" r="5" fill="#85EAF6" />
            <circle cx="41" cy="59" r="5" fill="#85EAF6" />
            <circle cx="41" cy="77" r="5" fill="#85EAF6" />
            <circle cx="23" cy="23" r="5" fill="#85EAF6" />
            <circle cx="23" cy="41" r="5" fill="#85EAF6" />
            <circle cx="23" cy="59" r="5" fill="#85EAF6" />
            <circle cx="23" cy="77" r="5" fill="#85EAF6" />
            <circle cx="5" cy="59" r="5" fill="#85EAF6" />
            <circle cx="5" cy="77" r="5" fill="#85EAF6" />
            <circle cx="5" cy="95" r="5" fill="#85EAF6" />
            <circle cx="5" cy="113" r="5" fill="#85EAF6" />
            <circle cx="23" cy="95" r="5" fill="#85EAF6" />
            <circle cx="23" cy="113" r="5" fill="#85EAF6" />
            <circle cx="23" cy="131" r="5" fill="#85EAF6" />
            <circle cx="23" cy="149" r="5" fill="#85EAF6" />
            <circle cx="41" cy="95" r="5" fill="#85EAF6" />
            <circle cx="41" cy="113" r="5" fill="#85EAF6" />
            <circle cx="41" cy="131" r="5" fill="#85EAF6" />
            <circle cx="41" cy="149" r="5" fill="#85EAF6" />
            <circle cx="59" cy="77" r="5" fill="#85EAF6" />
            <circle cx="59" cy="95" r="5" fill="#85EAF6" />
            <circle cx="59" cy="113" r="5" fill="#85EAF6" />
            <circle cx="59" cy="131" r="5" fill="#85EAF6" />
            <circle cx="110" cy="5" r="5" fill="#85EAF6" />
            <circle cx="110" cy="23" r="5" fill="#85EAF6" />
            <circle cx="110" cy="41" r="5" fill="#85EAF6" />
            <circle cx="110" cy="59" r="5" fill="#85EAF6" />
            <circle cx="125" cy="23" r="5" fill="#85EAF6" />
            <circle cx="125" cy="41" r="5" fill="#85EAF6" />
            <circle cx="125" cy="59" r="5" fill="#85EAF6" />
            <circle cx="125" cy="77" r="5" fill="#85EAF6" />
            <circle cx="143" cy="23" r="5" fill="#85EAF6" />
            <circle cx="143" cy="41" r="5" fill="#85EAF6" />
            <circle cx="143" cy="59" r="5" fill="#85EAF6" />
            <circle cx="143" cy="77" r="5" fill="#85EAF6" />
            <circle cx="148" cy="135" r="115" fill="#24243E" />
          </svg>
        </div>

        <div>
          <p class="text-[60px] text-white leading-tight text-center">
            How to use Brutask <br />
            for your team
          </p>
        </div>
        <div class="flex justify-center mt-[40px] overflow-hidden ml-3">
          <img
            class="inline-block h-[122px] w-[122px] rounded-full ring-white"
            src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE="
            alt="not found"
          />
        </div>
        <div class="flex justify-center">
          <p class="text-[24px] mt-[40px] text-white text-center w-[497px]">
            Start by asking your team members to add their daily tasks on
            Brutask. Then, the manager can take a quick stand-up to understand
            everyone’s priorities for the day.
          </p>
        </div>
        <div class="pt-[40px]">
          <p class="text-center text-[24px] text-white">
            Siddhita Upare, Founder - Brucira
          </p>
        </div>
        <div class="py-[40px] flex justify-center items-center">
          <button class="btn10 w-[200px] h-[50px] md:h-[65px] md:w-[220px]">
            <h2 class="text-[12px] md:text-[15px] lg:text-[15px] ml-2 mr-2">
              Get started for free
            </h2>

            <svg
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.172 7.50005L6.808 2.13605L8.222 0.722046L16 8.50005L8.222 16.278L6.808 14.864L12.172 9.50005H0V7.50005H12.172Z"
                fill="#1B1C31"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NMiddle',
  data() {
    return {
      openModalOne: false,
      openModalTwo: false,
      openModalTree: false,
      openModalFour: false,
    }
  },
  computed() {
    const callback = function (entries) {
      entries.forEach((entry) => {
        console.log(entry)

        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fadeIn')
        } else {
          entry.target.classList.remove('animate-fadeIn')
        }
      })
    }

    const observer = new IntersectionObserver(callback)

    const targets = document.querySelectorAll('.js-show-on-scroll')
    targets.forEach(function (target) {
      target.classList.add('opacity-0')
      observer.observe(target)
    })
  },
  methods: {
    openClickOne() {
      this.openModalOne = !this.openModalOne
    },
    openClickTwo() {
      this.openModalTwo = !this.openModalTwo
    },
    openClickTree() {
      this.openModalTree = !this.openModalTree
    },
    openClickFour() {
      this.openModalFour = !this.openModalFour
    },
  },
}
</script>
<style>
.divider {
  width: 2px;
  height: 100px;
  background-color: #fff;
}
</style>
