<template>
  <div>
    <NHeader />
    <NMiddle />
    <NFooter />
  </div>
</template>
<script>
import NHeader from '~/components/layout/NHeader'
import NMiddle from '~/components/layout/NMiddle'
import NFooter from '~/components/layout/NFooter'
export default {
  components: { NMiddle, NHeader, NFooter },
}
</script>
